.hero {
  width: 100%;
  min-height: 360px;
  max-height: 500px;
  height: 45vh;

  background-image: url("../images/home_hero.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.35);
  padding: 40px 25px;
  border-radius: 8px;
}

.hero h1 {
  font-size: 38px;
  color: white;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .hero {
    min-height: 260px;
    max-height: 340px;
    height: 35vh;
    background-position: center center;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 14px;
  }
}

#home-approach p {
  text-align: center;
  max-width: 850px;
  margin: 0 auto 18px auto;
  line-height: 1.6;
}

/*제목 중앙정렬*/
#home-approach h2 {
  text-align: center;
  width: 100%;
}

#home-approach .section-header {
  justify-content: center;
}

#home-approach p {
  font-size: 19px; /* 1px 증가 */
  text-align: center;
  max-width: 850px;
  margin: 0 auto 22px auto;
  line-height: 1.65;
}
